.curseur {
	display:inline-block;
	width:1px;
	height:1em;
	background-color:transparent;
}

.curseur.affiché {
	background-color:black;
}

.elem-paragraphe {
	border: thick solid #ddd;
	display: block;
}

.elem-paragraphe:before {
	content: "Paragraphe";
	font-size: smaller;
	background-color: #ddd;
	display:block;
}

.elem-important {
	background-color: mistyrose;
}

.elem-important:before {
	content: "Important";
	padding: 0 0.3em;
	font-size: smaller;
	background-color: pink;
	display: inline;
}
