.conteneur-esem {
	border: thin solid black;
}

.conteneur-esem .aperçu {
	margin: 0.5em;
}

.conteneur-esem .boutons {
	margin: 0.5em;
}

.conteneur-esem .éditeur {
	margin: 0.5em;
}

.conteneur-esem .boutons .bouton {
	border: thin solid black;
	background-color: white;
}


/* Noeuds Multi-ligne */
.conteneur-esem .noeud.multi-ligne {
	display:block;
	margin-bottom: 0.3em;
}

.conteneur-esem .noeud.multi-ligne:before {
	display:block;
	font-size: smaller;
}

/* Noeuds Mono-ligne */
.conteneur-esem .noeud.mono-ligne {
	display: block;
	margin-bottom: 0.3em;
}

.conteneur-esem .noeud.mono-ligne:before {
	border-right: medium solid white;
	padding: 0 0.3em;
	display: inline-block;
}

/* Noeuds En-ligne */
.conteneur-esem .noeud.en-ligne {
	display: inline;
}

.conteneur-esem .noeud.en-ligne:before {
	padding: 0 0.3em;
	font-size: smaller;
	display: inline-block;
}

/* Titre */
.conteneur-esem .noeud.titre {
	font-weight: bold;
	font-size: large;
	border: thick solid #ddd;
}

.conteneur-esem .noeud.titre:before {
	content: "Titre";
	font-weight: bold;
	background-color: #ddd;
}

/* Paragraphe */
.conteneur-esem .noeud.paragraphe {
	border: thick solid #ddd;
}

.conteneur-esem .noeud.paragraphe:before {
	content: "Paragraphe";
	background-color: #ddd;
}

/* Important */
.conteneur-esem .noeud.important {
	background-color: mistyrose;
}

.conteneur-esem .noeud.important:before {
	content: "Important";
	background-color: pink;
}

/* Lien */
.conteneur-esem .noeud.lien {
	background-color: #ddf;
}

.conteneur-esem .noeud.lien:before {
	content: "Lien";
	background-color: #aaf;
}